<%= form_with(model: model, local: true) do |form| %>
  <% if model.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(model.errors.count, "error") %> prohibited this model from being saved:</h2>

      <ul>
        <% model.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="container p-0">
    <div class="row bg-white rounded-bottom shadow-box pt-3 pb-2 m-0 mb-3">
        <div class="col-12">
            <h4>Dodajanje modela</h4>
        </div>
    </div>


    <div class="card shadow-box">
    
        <div class="card-body">
        
            <h4>Model</h4>
            <hr>

            <div class="form-group row">
                <label for="name" class="text-muted col-sm-2 col-form-label">Ime:</label>
                <%= form.collection_select :manufacturer_id, Manufacturer.order(:name).all, :id, :name, {}, class: "form-control col-sm-10" %>
            </div>

            <div class="form-group row">
                <label for="name" class="text-muted col-sm-2 col-form-label">Ime:</label>
                <%= form.text_field :name, class: "form-control col-sm-10" %>
            </div>
            
  

            <div class="col-md-4 col-12 m-auto text-center">
            <%= button_tag( :class => "btn btn-lg btn-block orange-bg text-center py-0 m-auto") do %>
                    <span class="px-3 py-2">Shrani</span>
            <% end %>
            </div>

        </div>
    </div>
</div>
<% end %>
