<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Seller title</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Pass</th>
      <th>Webpage</th>
      <th>Account type</th>
      <th>Town</th>
      <th>Tax number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.seller_title %></td>
        <td><%= user.address %></td>
        <td><%= user.phone %></td>
        <td><%= user.email %></td>
        <td><%= user.pass %></td>
        <td><%= user.webpage %></td>
        <td><%= user.account_type_id %></td>
        <td><%= user.town_id %></td>
        <td><%= user.tax_number %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
