<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Seller title:</strong>
  <%= @user.seller_title %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Pass:</strong>
  <%= @user.pass %>
</p>

<p>
  <strong>Webpage:</strong>
  <%= @user.webpage %>
</p>

<p>
  <strong>Account type:</strong>
  <%= @user.account_type_id %>
</p>

<p>
  <strong>Town:</strong>
  <%= @user.town_id %>
</p>

<p>
  <strong>Tax number:</strong>
  <%= @user.tax_number %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
