<body class="h1">

    <div class="container p-0">

        <div class="container m-0 bg-white rounded-bottom shadow-box">
            <div class="row">
                <div class="col mt-3">
                    <h4>
                        Hitro iskanje vozil!
                    </h4>
                </div>
            </div>
            <%= form_with do |f| %>
                <div class="form-row">
                    <div class="col-md-4">
                        <div class="col-12 px-0 py-2">
                            <div class="input-group">
                                <%= f.collection_select(:manufacturer_id, Manufacturer.all, :id, :name, {prompt: "Vse znamke"}, {class: "custom-select"}) %>
                            </div>
                        </div>
                        <div class="col-12 px-0">
                            <div class="input-group">

                                <select name="model" id="model" class="custom-select">
                                    <option value="all">Vsi modeli</option>
                                </select>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">

                        <div class="col-12 px-0 py-2">
                            <div class="input-group">

                                <select name="priceFrom" id="priceFrom" class="custom-select">
                                    <option value="0">Cena od</option>
                                    <option value="100">od 100 EUR</option>
                                    <option value="500">od 500 EUR</option>
                                    <option value="1000">od 1.000 EUR</option>
                                    <option value="1500">od 1.500 EUR</option>
                                    <option value="2000">od 2.000 EUR</option>
                                    <option value="2500">od 2.500 EUR</option>
                                    <option value="3000">od 3.000 EUR</option>
                                    <option value="3500">od 3.500 EUR</option>
                                    <option value="4000">od 4.000 EUR</option>
                                    <option value="4500">od 4.500 EUR</option>
                                    <option value="5000">od 5.000 EUR</option>
                                    <option value="6000">od 6.000 EUR</option>
                                    <option value="7000">od 7.000 EUR</option>
                                    <option value="8000">od 8.000 EUR</option>
                                    <option value="9000">od 9.000 EUR</option>
                                    <option value="10000">od 10.000 EUR</option>
                                    <option value="11000">od 11.000 EUR</option>
                                    <option value="12000">od 12.000 EUR</option>
                                    <option value="13000">od 13.000 EUR</option>
                                    <option value="14000">od 14.000 EUR</option>
                                    <option value="15000">od 15.000 EUR</option>
                                    <option value="16000">od 16.000 EUR</option>
                                    <option value="17000">od 17.000 EUR</option>
                                    <option value="18000">od 18.000 EUR</option>
                                    <option value="19000">od 19.000 EUR</option>
                                    <option value="20000">od 20.000 EUR</option>
                                    <option value="22500">od 22.500 EUR</option>
                                    <option value="25000">od 25.000 EUR</option>
                                    <option value="27500">od 27.500 EUR</option>
                                    <option value="30000">od 30.000 EUR</option>
                                    <option value="35000">od 35.000 EUR</option>
                                    <option value="40000">od 40.000 EUR</option>
                                    <option value="45000">od 45.000 EUR</option>
                                    <option value="50000">od 50.000 EUR</option>
                                    <option value="60000">od 60.000 EUR</option>
                                    <option value="70000">od 70.000 EUR</option>
                                    <option value="80000">od 80.000 EUR</option>
                                    <option value="90000">od 90.000 EUR</option>
                                    <option value="100000">od 100.000 EUR</option>
                                </select>

                                <select name="priceTo" id="priceTo" class="custom-select">
                                    <option value="999999">Cena do</option>
                                    <option value="100">do 100 EUR</option>
                                    <option value="500">do 500 EUR</option>
                                    <option value="1000">do 1.000 EUR</option>
                                    <option value="1500">do 1.500 EUR</option>
                                    <option value="2000">do 2.000 EUR</option>
                                    <option value="2500">do 2.500 EUR</option>
                                    <option value="3000">do 3.000 EUR</option>
                                    <option value="3500">do 3.500 EUR</option>
                                    <option value="4000">do 4.000 EUR</option>
                                    <option value="4500">do 4.500 EUR</option>
                                    <option value="5000">do 5.000 EUR</option>
                                    <option value="6000">do 6.000 EUR</option>
                                    <option value="7000">do 7.000 EUR</option>
                                    <option value="8000">do 8.000 EUR</option>
                                    <option value="9000">do 9.000 EUR</option>
                                    <option value="10000">do 10.000 EUR</option>
                                    <option value="11000">do 11.000 EUR</option>
                                    <option value="12000">do 12.000 EUR</option>
                                    <option value="13000">do 13.000 EUR</option>
                                    <option value="14000">do 14.000 EUR</option>
                                    <option value="15000">do 15.000 EUR</option>
                                    <option value="16000">do 16.000 EUR</option>
                                    <option value="17000">do 17.000 EUR</option>
                                    <option value="18000">do 18.000 EUR</option>
                                    <option value="19000">do 19.000 EUR</option>
                                    <option value="20000">do 20.000 EUR</option>
                                    <option value="22500">do 22.500 EUR</option>
                                    <option value="25000">do 25.000 EUR</option>
                                    <option value="27500">do 27.500 EUR</option>
                                    <option value="30000">do 30.000 EUR</option>
                                    <option value="35000">do 35.000 EUR</option>
                                    <option value="40000">do 40.000 EUR</option>
                                    <option value="45000">do 45.000 EUR</option>
                                    <option value="50000">do 50.000 EUR</option>
                                    <option value="60000">do 60.000 EUR</option>
                                    <option value="70000">do 70.000 EUR</option>
                                    <option value="80000">do 80.000 EUR</option>
                                    <option value="90000">do 90.000 EUR</option>
                                    <option value="100000">do 100.000 EUR</option>
                                </select>

                            </div>
                        </div>

                        <div class="col-12 px-0 py-0">
                            <div class="input-group">
                                <select name="yearMin" id="yearMin" class="custom-select">
                                    <option value="0">Letnik od</option>
                                    <option value=2021>od 2021</option><option value=2020>od 2020</option><option value=2019>od 2019</option><option value=2018>od 2018</option><option value=2017>od 2017</option><option value=2016>od 2016</option><option value=2015>od 2015</option><option value=2014>od 2014</option><option value=2013>od 2013</option><option value=2012>od 2012</option><option value=2011>od 2011</option><option value=2010>od 2010</option><option value=2009>od 2009</option><option value=2008>od 2008</option><option value=2007>od 2007</option><option value=2006>od 2006</option><option value=2005>od 2005</option><option value=2004>od 2004</option><option value=2003>od 2003</option><option value=2002>od 2002</option><option value=2001>od 2001</option><option value=2000>od 2000</option><option value=1999>od 1999</option><option value=1998>od 1998</option><option value=1997>od 1997</option><option value=1996>od 1996</option><option value=1995>od 1995</option><option value=1994>od 1994</option><option value=1993>od 1993</option><option value=1992>od 1992</option><option value=1991>od 1991</option><option value=1990>od 1990</option><option value=1989>od 1989</option><option value=1988>od 1988</option><option value=1987>od 1987</option><option value=1986>od 1986</option><option value=1985>od 1985</option><option value=1984>od 1984</option><option value=1983>od 1983</option><option value=1982>od 1982</option><option value=1981>od 1981</option><option value=1980>od 1980</option><option value=1979>od 1979</option><option value=1978>od 1978</option><option value=1977>od 1977</option><option value=1976>od 1976</option><option value=1975>od 1975</option>                                </select>

                                <select name="yearMax" id="yearMax" class="custom-select">
                                    <option value="999999">Letnik do</option>
                                    <option value=2021>do 2021</option><option value=2020>do 2020</option><option value=2019>do 2019</option><option value=2018>do 2018</option><option value=2017>do 2017</option><option value=2016>do 2016</option><option value=2015>do 2015</option><option value=2014>do 2014</option><option value=2013>do 2013</option><option value=2012>do 2012</option><option value=2011>do 2011</option><option value=2010>do 2010</option><option value=2009>do 2009</option><option value=2008>do 2008</option><option value=2007>do 2007</option><option value=2006>do 2006</option><option value=2005>do 2005</option><option value=2004>do 2004</option><option value=2003>do 2003</option><option value=2002>do 2002</option><option value=2001>do 2001</option><option value=2000>do 2000</option><option value=1999>do 1999</option><option value=1998>do 1998</option><option value=1997>do 1997</option><option value=1996>do 1996</option><option value=1995>do 1995</option><option value=1994>do 1994</option><option value=1993>do 1993</option><option value=1992>do 1992</option><option value=1991>do 1991</option><option value=1990>do 1990</option><option value=1989>do 1989</option><option value=1988>do 1988</option><option value=1987>do 1987</option><option value=1986>do 1986</option><option value=1985>do 1985</option><option value=1984>do 1984</option><option value=1983>do 1983</option><option value=1982>do 1982</option><option value=1981>do 1981</option><option value=1980>do 1980</option><option value=1979>do 1979</option><option value=1978>do 1978</option><option value=1977>do 1977</option><option value=1976>do 1976</option><option value=1975>do 1975</option>                                </select>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-4">

                        <div class="col-12 px-0 py-2">
                            <div class="input-group">
                                <select name="kmMax" id="kmMax" class="custom-select">

                                    <option value="9999999">Prevoženi km do</option>
                                    <option value="5000">do 5000 km</option>
                                    <option value="10000">do 10000 km</option>
                                    <option value="20000">do 20000 km</option>
                                    <option value="25000">do 25000 km</option>
                                    <option value="50000">do 50000 km</option>
                                    <option value="75000">do 75000 km</option>
                                    <option value="100000">do 100000 km</option>
                                    <option value="125000">do 125000 km</option>
                                    <option value="150000">do 150000 km</option>
                                    <option value="200000">do 200000 km</option>
                                    <option value="250000">do 250000 km</option>

                                </select>
                            </div>
                        </div>

                        <div class="col-12 px-0">
                            <div class="input-group">
                                <%= f.collection_select(:fuel_type_id, FuelType.all, :id, :name, {prompt: "Gorivo"}, {class: "custom-select"}) %>
                            </div>

                        </div>

                    </div>

                    <div>

                    </div>

                </div>

                <div class="form-row pt-2 pb-3">
                
                    <div class="col-12 col-md-8 d-md-block">
                        <%= link_to(search_path, class: "btn btn-outline-light btn-block text-left border h-100") do %>
                            <i class="fa fa-sliders fa-lg align-middle pr-2 orange"></i>
                            <span class="align-middle text-truncate black font-weight-normal">Napredno iskanje z filtri</span>
                        <% end %>
                    </div>

                    <div class="col-12 col-md-4">
                        <div class="input-group h-100">
                    
                        <%= f.submit(class: "btn btn-block h-100 text-center orange-bg text-center py-0", value: "Iskanje vozil") do %>
                            <i class="fa fa-search px-2"></i>
                            <span class="px-3 text-truncate">Iskanje vozil</span>
                        <% end %>
                        </div>
                    
                    </div>
                
                </div>
            <% end %>
        </div>