<div class="container p-0">
    <div class="container bg-white rounded-bottom shadow-box m-0 mb-3">
            <div class="row pt-3 pb-2 px-3">
                <div class="col-12 px-0">
                    <h3><strong>Dobrodošli na moj.avto.met</strong></h3>
                </div>
            </div>
    </div>
        <div class="card-deck">

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div class="card rounded shadow-box">

            <div class="card-header h4 font-size-l">Prijava v avto.met</div>
            <div class="card-body">
                <label for="email" class="font-weight-bold">E-mail:</label>
                <div class="input-group mb-2 mr-sm-2 mb-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa fa-user fa-2x"></i>
                        </div>
                    </div>
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-lg", placeholder: "Vpišite E-mail!" %>

                </div>

                <label for="password" class="w-100 font-weight-bold">
                    <div class="row">
                        <div class="col-6">Geslo:</div>
                        <div class="col-6 text-right">
                            <div class="pretty p-switch p-slim">
                                <input type="checkbox" name="showpass" id="showpass" onclick="showPass()">
                                <div class="state">
                                    <label> Prikaži geslo</label>
                                </div>
                            </div>

                            <!-- 

                            <div class="pretty p-icon p-toggle p-plain">
                                <input type="checkbox" name="showpass" id="showpass" onclick="showPass()">
                                <div class="state p-success-o p-on">
                                    <i class="icon fa fa-eye"></i>
                                    <label>Skrij geslo</label>
                                </div>
                                <div class="state p-off">
                                    <i class="icon fa fa-eye-slash"></i>
                                    <label>Pokaži geslo</label>
                                </div>
                            </div>

                            -->
                        </div>
                    </div>
                </label>
                <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa fa-lock fa-2x"></i>
                        </div>
                    </div>
                    <%= f.password_field :password, autocomplete: "current-password", class: "form-control form-control-lg", placeholder: "Vpišite geslo!", id: "password" %>
                </div>
                  <% if devise_mapping.rememberable? %>
                    <div class="field">
                      <%= f.check_box :remember_me %>
                      <%= f.label :remember_me %>
                    </div>
                  <% end %>
            </div>
            

            <div class="card-footer bg-white border-top-0 text-center">
                <%= button_tag( :class => "btn btn-lg btn-block orange-bg text-center py-0 mb-3") do %>
                  <i class="fa fa-user px-2 py-2"></i>
                  <span class="px-3 py-2 float-left">Prijava</span>
                <% end %>

                <div class="row">
                    <%= link_to(user_google_oauth2_omniauth_authorize_path, method: :post, class: "btn btn-social btn-google border mr-1") do %>
                        <i class="fa fa-google fa-fw"></i> Sign in with Google
                    <% end %>
                    

                    <%= link_to(user_facebook_omniauth_authorize_path, method: :post, class: "btn btn-social btn-facebook border ml-1") do %>
                        <i class="fa fa-facebook fa-fw"></i> Sign in with Facebook
                    <% end %>
                </div>

                 <%= link_to "Forgot your password?", new_password_path(resource_name) %>
                
                <br>
            
            </div>

        </div>

    <% end %>

    <div class="card rounded shadow-box">

        <div class="card-header h4">Registracija na avto.met</div>
        <div class="card-body font-weight-normal">
            Kaj pridobite z registracijo:
            <ul>
                <li>objavljanje oglasov kot POSAMEZNIK</li>
                <li>objavljanje večih oglasov kot TRGOVEC</li>
                <li>shranjevanje priljubljenih kriterijev iskanja</li>
                <li>shranjevanje priljubljenih avtomobilov</li>
            </ul>
            Število objav je lahko omejeno odvisno od tipa registracije in naročniškega razmerja!
        </div>
        <div class="card-footer bg-white border-top-0 text-center">
            <%= link_to "sign_up", class: "btn btn-lg btn-block orange-bg text-center py-0 mb-3" do %>
                <i class="fa fa-pencil text-white px-2 py-2"></i>
                <span class="text-white font-weight-bold px-3 py-2 float-left">Registriraj se!</span>
            <% end %>
            <a href="#"><span class="invisible">.</span></a>
        
        </div>
    </div>


    </div>
</div>

<script>

function showPass() {
  var x = document.getElementById("password");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
</script>