<body class="h1">

    <div class="container p-0">

        <div class="container m-0 bg-white rounded-bottom shadow-box">
            <div class="row">
                <div class="col mt-3">
                    <h4>
                        Hitro iskanje vozil!
                    </h4>
                </div>
            </div>
            <%= form_with model: @search do |f| %>
                <div class="form-row">
                    <div class="col-md-4">
                        <div class="col-12 px-0 py-2">
                            <div class="input-group">
                                <%= f.collection_select(:manufacturer_id, Manufacturer.order(:name).all, :id, :name, {prompt: "Vse znamke"}, {class: "custom-select manufacturer_select"}) %>
                            </div>
                        </div>
                        <div class="col-12 px-0">
                            <div class="input-group">

                                <%= f.select(:model_id, [] , {prompt: "Vsi modeli"}, {class: "custom-select model_select"}) %>

                            </div>
                        </div>
                    </div>


                    <script>
            
                    $(document).on("change", ".manufacturer_select", function(){
                    var manufacturer = $(this).val();
                    $.ajax({
                        url: "/searches/new",
                        method: "GET",  
                        dataType: "json",
                        data: {manufacturer: manufacturer},
                        error: function (xhr, status, error) {
                        console.error('AJAX Error: ' + status + error);
                        },
                        success: function (response) {
                        $(".model_select").empty();
                        console.log(response);
                        var models = response["models"];
                        $(".model_select").append('<option value="0">Izberi model</option>');
                        for(var i=0; i< models.length; i++){
                            $(".model_select").append('<option value="' + models[i]["id"] + '">' + models[i]["name"] + '</option>');
                        }
                        }
                    });
                    });
                    
                    </script>

                    <div class="col-md-4">

                        <div class="col-12 px-0 py-2">
                            <div class="input-group">

                                <%= f.select(:price, [["od 100 EUR", "100"], ["od 500 EUR", "500"], ["od 1.000 EUR", "1000"], ["od 1.500 EUR", "1500"], ["od 2.000 EUR", "2000"], ["od 2.500 EUR", "2500"], ["od 3.000 EUR", "3000"], ["od 3.500 EUR", "3500"], ["od 4.000 EUR", "4000"], ["od 4.500 EUR", "4500"], ["od 5.000 EUR", "5000"], ["od 6.000 EUR", "6000"], ["od 7.000 EUR", "7000"], ["od 8.000 EUR", "8000"], ["od 9.000 EUR", "9000"], ["od 10.000 EUR", "10000"], ["od 11.000 EUR", "11000"], ["od 12.000 EUR", "12000"], ["od 13.000 EUR", "13000"], ["od 14.000 EUR", "14000"], ["od 15.000 EUR", "15000"], ["od 16.000 EUR", "16000"], ["od 17.000 EUR", "17000"], ["od 18.000 EUR", "18000"], ["od 19.000 EUR", "19000"], ["od 20.000 EUR", "20000"], ["od 22.500 EUR", "22500"], ["od 25.000 EUR", "25000"], ["od 27.500 EUR", "27500"], ["od 30.000 EUR", "30000"], ["od 35.000 EUR", "35000"], ["od 40.000 EUR", "40000"], ["od 45.000 EUR", "45000"], ["od 50.000 EUR", "50000"], ["od 60.000 EUR", "60000"], ["od 70.000 EUR", "70000"], ["od 80.000 EUR", "80000"], ["od 90.000 EUR", "90000"], ["od 100.000 EUR", "100000"]], {prompt: "Cena od"}, {class: 'custom-select' }) %>

                                <%= f.select(:price_max, [["do 100 EUR", "100"], ["do 500 EUR", "500"], ["do 1.000 EUR", "1000"], ["do 1.500 EUR", "1500"], ["do 2.000 EUR", "2000"], ["do 2.500 EUR", "2500"], ["do 3.000 EUR", "3000"], ["do 3.500 EUR", "3500"], ["do 4.000 EUR", "4000"], ["do 4.500 EUR", "4500"], ["do 5.000 EUR", "5000"], ["do 6.000 EUR", "6000"], ["do 7.000 EUR", "7000"], ["do 8.000 EUR", "8000"], ["do 9.000 EUR", "9000"], ["do 10.000 EUR", "10000"], ["do 11.000 EUR", "11000"], ["do 12.000 EUR", "12000"], ["do 13.000 EUR", "13000"], ["do 14.000 EUR", "14000"], ["do 15.000 EUR", "15000"], ["do 16.000 EUR", "16000"], ["do 17.000 EUR", "17000"], ["do 18.000 EUR", "18000"], ["do 19.000 EUR", "19000"], ["do 20.000 EUR", "20000"], ["do 22.500 EUR", "22500"], ["do 25.000 EUR", "25000"], ["do 27.500 EUR", "27500"], ["do 30.000 EUR", "30000"], ["do 35.000 EUR", "35000"], ["do 40.000 EUR", "40000"], ["do 45.000 EUR", "45000"], ["do 50.000 EUR", "50000"], ["do 60.000 EUR", "60000"], ["do 70.000 EUR", "70000"], ["do 80.000 EUR", "80000"], ["do 90.000 EUR", "90000"], ["do 100.000 EUR", "100000"]], {prompt: "Cena do"}, {class: 'custom-select' }) %>

                            </div>
                        </div>

                        <div class="col-12 px-0 py-0">
                            <div class="input-group">
                                <%= f.select(:manufacture_year, [["od 2021", "2021"], ["od 2020", "2020"], ["od 2019", "2019"], ["od 2018", "2018"], ["od 2017", "2017"], ["od 2016", "2016"], ["od 2015", "2015"], ["od 2014", "2014"], ["od 2013", "2013"], ["od 2012", "2012"], ["od 2011", "2011"], ["od 2010", "2010"], ["od 2009", "2009"], ["od 2008", "2008"], ["od 2007", "2007"], ["od 2006", "2006"], ["od 2005", "2005"], ["od 2004", "2004"], ["od 2003", "2003"], ["od 2002", "2002"], ["od 2001", "2001"], ["od 2000", "2000"], ["od 1999", "1999"], ["od 1998", "1998"], ["od 1997", "1997"], ["od 1996", "1996"], ["od 1995", "1995"], ["od 1994", "1994"], ["od 1993", "1993"], ["od 1992", "1992"], ["od 1991", "1991"], ["od 1990", "1990"], ["od 1989", "1989"], ["od 1988", "1988"], ["od 1987", "1987"], ["od 1986", "1986"], ["od 1985", "1985"], ["od 1984", "1984"], ["od 1983", "1983"], ["od 1982", "1982"], ["od 1981", "1981"], ["od 1980", "1980"], ["od 1979", "1979"], ["od 1978", "1978"], ["od 1977", "1977"], ["od 1976", "1976"], ["od 1975", "1975"]], {prompt: "Letnik od"}, {class: 'custom-select' }) %>
                                <%= f.select(:year_max, [["do 2021", "2021"], ["do 2020", "2020"], ["do 2019", "2019"], ["do 2018", "2018"], ["do 2017", "2017"], ["do 2016", "2016"], ["do 2015", "2015"], ["do 2014", "2014"], ["do 2013", "2013"], ["do 2012", "2012"], ["do 2011", "2011"], ["do 2010", "2010"], ["do 2009", "2009"], ["do 2008", "2008"], ["do 2007", "2007"], ["do 2006", "2006"], ["do 2005", "2005"], ["do 2004", "2004"], ["do 2003", "2003"], ["do 2002", "2002"], ["do 2001", "2001"], ["do 2000", "2000"], ["do 1999", "1999"], ["do 1998", "1998"], ["do 1997", "1997"], ["do 1996", "1996"], ["do 1995", "1995"], ["do 1994", "1994"], ["do 1993", "1993"], ["do 1992", "1992"], ["do 1991", "1991"], ["do 1990", "1990"], ["do 1989", "1989"], ["do 1988", "1988"], ["do 1987", "1987"], ["do 1986", "1986"], ["do 1985", "1985"], ["do 1984", "1984"], ["do 1983", "1983"], ["do 1982", "1982"], ["do 1981", "1981"], ["do 1980", "1980"], ["do 1979", "1979"], ["do 1978", "1978"], ["do 1977", "1977"], ["do 1976", "1976"], ["do 1975", "1975"]], {prompt: "Letnik do"}, {class: 'custom-select' }) %>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-4">

                        <div class="col-12 px-0 py-2">
                            <div class="input-group">
                                <%= f.select(:mileage_max, [["do 5.000km", "5000"], ["do 10.000km", "10000"], ["do 20.000km", "20000"], ["do 25.000km", "25000"], ["do 50.000km", "50000"], ["do 75.000km", "75000"], ["do 100.000km", "100000"], ["do 125.000km", "125000"], ["do 150.000km", "150000"], ["do 200.000km", "200000"], ["do 250.000km", "250000"]], {prompt: "Prevoženi kilometri"}, {class: 'custom-select' }) %>
                            </div>
                        </div>

                        <div class="col-12 px-0">
                            <div class="input-group">
                                <%= f.collection_select(:fuel_type_id, FuelType.all, :id, :name, {prompt: "Gorivo"}, {class: "custom-select"}) %>
                            </div>

                        </div>

                    </div>

                    <div>

                    </div>

                </div>

                <div class="form-row pt-2 pb-3">
                
                    <div class="col-12 col-md-8 d-md-block">
                        <%= link_to("/search", class: "btn btn-outline-light btn-block text-left border h-100") do %>
                            <i class="fa fa-sliders fa-lg align-middle pr-2 orange"></i>
                            <span class="align-middle text-truncate black font-weight-normal">Napredno iskanje z filtri</span>
                        <% end %>
                    </div>

                    <div class="col-12 col-md-4">
                        <div class="input-group h-100">
                    
                        <%= button_tag( :class => "btn btn-block h-100 text-center orange-bg text-center py-0") do %>
                            <i class="fa fa-search px-2"></i>
                            <span class="px-3 text-truncate">Iskanje vozil</span>
                        <% end %>
                        </div>
                    
                    </div>
                
                </div>
            <% end %>
        </div>

</body>