<div class="container p-0">
    <div class="row bg-white rounded-bottom shadow-box pt-3 pb-2 m-0 mb-3">
        <div class="col-12">
            <h4>Admin panel</h4>
        </div>
    </div>

    <div class="container my-3 pb-2 bg-white shadow-box rounded">
        <div class="row pt-3">

            <div class="col-sm-4 col-12">
                <%= link_to "/users", class: "btn btn-lg btn-block orange-bg text-center py-0 mb-3 text-white" do %>
                    <span class="px-3 py-2 text-center">Urejanje uporabnikov</span>
                <% end %>
            </div>

            <div class="col-sm-4 col-12">
                <%= link_to towns_path, class: "btn btn-lg btn-block orange-bg text-center py-0 mb-3 text-white" do %>
                    <span class="px-3 py-2 text-center">Urejanje mest</span>
                <% end %>
            </div>

            <div class="col-sm-4 col-12">
                <%= link_to manufacturers_path, class: "btn btn-lg btn-block orange-bg text-center py-0 mb-3 text-white" do %>
                    <span class="px-3 py-2 text-center">Urejanje znamk</span>
                <% end %>
            </div>

            <div class="col-sm-4 col-12">
                <%= link_to models_path, class: "btn btn-lg btn-block orange-bg text-center py-0 mb-3 text-white" do %>
                    <span class="px-3 py-2 text-center">Urejanje modelov</span>
                <% end %>
            </div>

            <div class="col-sm-4 col-12">
                <%= link_to colors_path, class: "btn btn-lg btn-block orange-bg text-center py-0 mb-3 text-white" do %>
                    <span class="px-3 py-2 text-center">Urejanje barv</span>
                <% end %>
            </div>

            <div class="col-sm-4 col-12">
                <%= link_to car_types_path, class: "btn btn-lg btn-block orange-bg text-center py-0 mb-3 text-white" do %>
                    <span class="px-3 py-2 text-center">Urejanje tipov</span>
                <% end %>
            </div>
        </div>
    </div>

</div>