<p>
  <strong>User:</strong>
  <%= @car.user_id %>
</p>

<p>
  <strong>Model:</strong>
  <%= @car.model_id %>
</p>

<p>
  <strong>Type:</strong>
  <%= @car.type %>
</p>

<p>
  <strong>Car type:</strong>
  <%= @car.car_type_id %>
</p>

<p>
  <strong>Vehicle status:</strong>
  <%= @car.vehicle_status_id %>
</p>

<p>
  <strong>Has warranty:</strong>
  <%= @car.has_warranty %>
</p>

<p>
  <strong>Has guarranty:</strong>
  <%= @car.has_guarranty %>
</p>

<p>
  <strong>Oldtimer:</strong>
  <%= @car.oldtimer %>
</p>

<p>
  <strong>First registration:</strong>
  <%= @car.first_registration %>
</p>

<p>
  <strong>Manufacture year:</strong>
  <%= @car.manufacture_year %>
</p>

<p>
  <strong>Inspection expiry:</strong>
  <%= @car.inspection_expiry %>
</p>

<p>
  <strong>Mileage:</strong>
  <%= @car.mileage %>
</p>

<p>
  <strong>Number of owner:</strong>
  <%= @car.number_of_owner_id %>
</p>

<p>
  <strong>Vin:</strong>
  <%= @car.vin %>
</p>

<p>
  <strong>Price:</strong>
  <%= @car.price %>
</p>

<p>
  <strong>Cash discount:</strong>
  <%= @car.cash_discount %>
</p>

<p>
  <strong>Last price:</strong>
  <%= @car.last_price %>
</p>

<p>
  <strong>Driveable:</strong>
  <%= @car.driveable %>
</p>

<p>
  <strong>Damaged:</strong>
  <%= @car.damaged %>
</p>

<p>
  <strong>Crashed:</strong>
  <%= @car.crashed %>
</p>

<p>
  <strong>Service book:</strong>
  <%= @car.service_book %>
</p>

<p>
  <strong>Slovenian:</strong>
  <%= @car.slovenian %>
</p>

<p>
  <strong>Garaged:</strong>
  <%= @car.garaged %>
</p>

<p>
  <strong>Never crashed:</strong>
  <%= @car.never_crashed %>
</p>

<p>
  <strong>Fuel type:</strong>
  <%= @car.fuel_type_id %>
</p>

<p>
  <strong>Gearbox:</strong>
  <%= @car.gearbox_id %>
</p>

<p>
  <strong>Power:</strong>
  <%= @car.power %>
</p>

<p>
  <strong>Ccm:</strong>
  <%= @car.ccm %>
</p>

<p>
  <strong>Doors:</strong>
  <%= @car.doors %>
</p>

<p>
  <strong>Seats:</strong>
  <%= @car.seats %>
</p>

<p>
  <strong>Color:</strong>
  <%= @car.color_id %>
</p>

<p>
  <strong>Metallic:</strong>
  <%= @car.metallic %>
</p>

<p>
  <strong>Consumption:</strong>
  <%= @car.consumption %>
</p>

<p>
  <strong>Abs:</strong>
  <%= @car.abs %>
</p>

<p>
  <strong>Fourwheel:</strong>
  <%= @car.fourwheel %>
</p>

<p>
  <strong>Airbags:</strong>
  <%= @car.airbags %>
</p>

<p>
  <strong>Xenon:</strong>
  <%= @car.xenon %>
</p>

<p>
  <strong>Led:</strong>
  <%= @car.led %>
</p>

<p>
  <strong>Automatic lights:</strong>
  <%= @car.automatic_lights %>
</p>

<p>
  <strong>Alarm:</strong>
  <%= @car.alarm %>
</p>

<p>
  <strong>Headup:</strong>
  <%= @car.headup %>
</p>

<p>
  <strong>Emergency brake:</strong>
  <%= @car.emergency_brake %>
</p>

<p>
  <strong>Ac:</strong>
  <%= @car.ac %>
</p>

<p>
  <strong>Digital ac:</strong>
  <%= @car.digital_ac %>
</p>

<p>
  <strong>Keyless go:</strong>
  <%= @car.keyless_go %>
</p>

<p>
  <strong>Start stop:</strong>
  <%= @car.start_stop %>
</p>

<p>
  <strong>Cruise control:</strong>
  <%= @car.cruise_control %>
</p>

<p>
  <strong>Electric parking brake:</strong>
  <%= @car.electric_parking_brake %>
</p>

<p>
  <strong>Cd player:</strong>
  <%= @car.cd_player %>
</p>

<p>
  <strong>Mp3 player:</strong>
  <%= @car.mp3_player %>
</p>

<p>
  <strong>Usb:</strong>
  <%= @car.usb %>
</p>

<p>
  <strong>Dab:</strong>
  <%= @car.dab %>
</p>

<p>
  <strong>Navigation:</strong>
  <%= @car.navigation %>
</p>

<p>
  <strong>Rear camera:</strong>
  <%= @car.rear_camera %>
</p>

<p>
  <strong>Towing hook:</strong>
  <%= @car.towing_hook %>
</p>

<p>
  <strong>Hill assist:</strong>
  <%= @car.hill_assist %>
</p>

<p>
  <strong>Pdc:</strong>
  <%= @car.pdc %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @car.comment %>
</p>

<p>
  <strong>Avaliable:</strong>
  <%= @car.avaliable %>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
